.pageback {
    top: 0;
    display: grid;
    grid-template-rows: repeat(5, 200px);
    grid-template-columns: repeat(10, 1fr);
    background: linear-gradient(#507eb1, #709dc7 10%, #dde9f5 38%, #eaf2f9 48%, #f6f9fc 62%);
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

label {
    color: #17202A;
    font-size: 20px;
}

.btn {
    border: 1px solid white;
    transition: ease all .5s;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px white;
    transition: ease all .5s;
}
body{
    font-family: sans-serif;
    background: #f6f9fc;
}
